---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/<WUNDERGROUND_API_KEY>/geolookup/q/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.023'
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: "\n\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \n  }\n\t\t\n\t\t\t,\n\t\"error\": {\n\t\t\"type\": \"invalidquery\"\n\t\t\n\t\t\t,\"description\":
        \"you must supply a location query\"\n\t\t\n\t}\n\n\t\t\n\t\t\n\t}\n\n\n\t\n\n\t\n\t\n\t\n\t\n\t\n\t\n\t\n\t\n\t\n\t\n\t\n\t\n\t\n\t\n\t\n\t\n\t\n\t\n\t\n\t\n}\n\n"
  recorded_at: Wed, 09 Apr 2014 21:12:29 GMT
- request:
    method: get
    uri: http://api.wunderground.com/api/<WUNDERGROUND_API_KEY>/geolookup/q/autoip.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.069'
      Last-Modified:
      - Wed, 09 Apr 2014 21:15:37 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"geolookup\": 1\n  }\n\t}\n\t\t,\t\"location\": {\n\t\t\"type\":\"CITY\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"country_name\":\"USA\",\n\t\t\"state\":\"MA\",\n\t\t\"city\":\"Boston\",\n\t\t\"tz_short\":\"EDT\",\n\t\t\"tz_long\":\"America/New_York\",\n\t\t\"lat\":\"42.37046814\",\n\t\t\"lon\":\"-71.02747345\",\n\t\t\"zip\":\"02101\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"99999\",\n\t\t\"l\":\"/q/zmw:02101.1.99999\",\n\t\t\"requesturl\":\"US/MA/Boston.html\",\n\t\t\"wuiurl\":\"http://www.wunderground.com/US/MA/Boston.html\",\n\t\t\"nearby_weather_stations\":
        {\n\t\t\"airport\": {\n\t\t\"station\": [\n\t\t{ \"city\":\"Boston\", \"state\":\"MA\",
        \"country\":\"US\", \"icao\":\"KBOS\", \"lat\":\"42.36056900\", \"lon\":\"-71.00972748\"
        }\n\t\t,{ \"city\":\"East Milton\", \"state\":\"MA\", \"country\":\"US\",
        \"icao\":\"KMQE\", \"lat\":\"42.21207047\", \"lon\":\"-71.11416626\" }\n\t\t,{
        \"city\":\"Norwood\", \"state\":\"MA\", \"country\":\"US\", \"icao\":\"KOWD\",
        \"lat\":\"42.19123077\", \"lon\":\"-71.17326355\" }\n\t\t,{ \"city\":\"Bedford\",
        \"state\":\"MA\", \"country\":\"US\", \"icao\":\"KBED\", \"lat\":\"42.46995163\",
        \"lon\":\"-71.28903198\" }\n\t\t]\n\t\t}\n\t\t,\n\t\t\"pws\": {\n\t\t\"station\":
        [\n\t\t{\n\t\t\"neighborhood\":\"South Boston\",\n\t\t\"city\":\"Boston\",\n\t\t\"state\":\"MA\",\n\t\t\"country\":\"US\",\n\t\t\"id\":\"KMABOSTO35\",\n\t\t\"lat\":42.343105,\n\t\t\"lon\":-71.058197,\n\t\t\"distance_km\":3,\n\t\t\"distance_mi\":2\n\t\t},\n\t\t{\n\t\t\"neighborhood\":\"Prattville\",\n\t\t\"city\":\"Chelsea\",\n\t\t\"state\":\"MA\",\n\t\t\"country\":\"US\",\n\t\t\"id\":\"KMACHELS2\",\n\t\t\"lat\":42.407410,\n\t\t\"lon\":-71.035759,\n\t\t\"distance_km\":4,\n\t\t\"distance_mi\":2\n\t\t},\n\t\t{\n\t\t\"neighborhood\":\"Winthrop
        Beach\",\n\t\t\"city\":\"Winthrop\",\n\t\t\"state\":\"MA\",\n\t\t\"country\":\"US\",\n\t\t\"id\":\"KMAWINTH1\",\n\t\t\"lat\":42.377106,\n\t\t\"lon\":-70.973625,\n\t\t\"distance_km\":4,\n\t\t\[...]
