---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/<WUNDERGROUND_API_KEY>/geolookup/q/pws:KMNCHASK10.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.176'
      Last-Modified:
      - Wed, 09 Apr 2014 21:31:19 GMT
      Cneonction:
      - close
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"geolookup\": 1\n  }\n\t}\n\t\t,\t\"location\": {\n\t\t\"type\":\"CITY\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"country_name\":\"USA\",\n\t\t\"state\":\"MN\",\n\t\t\"city\":\"Chaska\",\n\t\t\"tz_short\":\"CDT\",\n\t\t\"tz_long\":\"America/Chicago\",\n\t\t\"lat\":\"44.815147\",\n\t\t\"lon\":\"-93.610855\",\n\t\t\"zip\":\"55318\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"99999\",\n\t\t\"l\":\"/q/zmw:55318.1.99999\",\n\t\t\"requesturl\":\"US/MN/Chaska.html\",\n\t\t\"wuiurl\":\"http://www.wunderground.com/US/MN/Chaska.html\",\n\t\t\"nearby_weather_stations\":
        {\n\t\t\"airport\": {\n\t\t\"station\": [\n\t\t{ \"city\":\"Minneapolis Flying
        Cloud\", \"state\":\"MN\", \"country\":\"US\", \"icao\":\"KFCM\", \"lat\":\"44.82701874\",
        \"lon\":\"-93.46437073\" }\n\t\t,{ \"city\":\"Minneapolis\", \"state\":\"MN\",
        \"country\":\"US\", \"icao\":\"KMSP\", \"lat\":\"44.88536835\", \"lon\":\"-93.23130798\"
        }\n\t\t,{ \"city\":\"Minneapolis Crystal\", \"state\":\"MN\", \"country\":\"US\",
        \"icao\":\"KMIC\", \"lat\":\"45.06250000\", \"lon\":\"-93.35083008\" }\n\t\t,{
        \"city\":\"Lakeville\", \"state\":\"MN\", \"country\":\"US\", \"icao\":\"KLVN\",
        \"lat\":\"44.62519836\", \"lon\":\"-93.22728729\" }\n\t\t]\n\t\t}\n\t\t,\n\t\t\"pws\":
        {\n\t\t\"station\": [\n\t\t{\n\t\t\"neighborhood\":\"Hammers Haven\",\n\t\t\"city\":\"Chaska\",\n\t\t\"state\":\"MN\",\n\t\t\"country\":\"US\",\n\t\t\"id\":\"KMNCHASK10\",\n\t\t\"lat\":44.815147,\n\t\t\"lon\":-93.610855,\n\t\t\"distance_km\":0,\n\t\t\"distance_mi\":0\n\t\t},\n\t\t{\n\t\t\"neighborhood\":\"Eitel
        Rd. Cul-de-sac\",\n\t\t\"city\":\"Chaska\",\n\t\t\"state\":\"MN\",\n\t\t\"country\":\"US\",\n\t\t\"id\":\"KMNCHASK13\",\n\t\t\"lat\":44.825947,\n\t\t\"lon\":-93.626244,\n\t\t\"distance_km\":1,\n\t\t\"distance_mi\":1\n\t\t},\n\t\t{\n\t\t\"neighborhood\":\"Hazeltine
        Woods\",\n\t\t\"city\":\"Chaska\",\n\t\t\"state\":\"MN\",\n\t\t\"country\":\"US\",\n\t\t\"id\":\"KMNCHASK11\",\n\t\t\"lat\":44.817253,\n\t\t\"lon\":-93.571144,\n\t\t\"dista[...]
