---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/<WUNDERGROUND_API_KEY>/geolookup/q/33133.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.078'
      Last-Modified:
      - Wed, 09 Apr 2014 20:54:20 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"geolookup\": 1\n  }\n\t}\n\t\t,\t\"location\": {\n\t\t\"type\":\"CITY\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"country_name\":\"USA\",\n\t\t\"state\":\"FL\",\n\t\t\"city\":\"Miami\",\n\t\t\"tz_short\":\"EDT\",\n\t\t\"tz_long\":\"America/New_York\",\n\t\t\"lat\":\"25.72613907\",\n\t\t\"lon\":\"-80.23650360\",\n\t\t\"zip\":\"33133\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"99999\",\n\t\t\"l\":\"/q/zmw:33133.1.99999\",\n\t\t\"requesturl\":\"US/FL/Miami.html\",\n\t\t\"wuiurl\":\"http://www.wunderground.com/US/FL/Miami.html\",\n\t\t\"nearby_weather_stations\":
        {\n\t\t\"airport\": {\n\t\t\"station\": [\n\t\t{ \"city\":\"Miami\", \"state\":\"FL\",
        \"country\":\"US\", \"icao\":\"KMIA\", \"lat\":\"25.78804970\", \"lon\":\"-80.31693268\"
        }\n\t\t,{ \"city\":\"Opa Locka\", \"state\":\"FL\", \"country\":\"US\", \"icao\":\"KOPF\",
        \"lat\":\"25.91016960\", \"lon\":\"-80.28282928\" }\n\t\t,{ \"city\":\"Kendall\",
        \"state\":\"FL\", \"country\":\"US\", \"icao\":\"KTMB\", \"lat\":\"25.64226913\",
        \"lon\":\"-80.43466949\" }\n\t\t,{ \"city\":\"Homestead AFB\", \"state\":\"FL\",
        \"country\":\"US\", \"icao\":\"KHST\", \"lat\":\"25.48855019\", \"lon\":\"-80.38356781\"
        }\n\t\t]\n\t\t}\n\t\t,\n\t\t\"pws\": {\n\t\t\"station\": [\n\t\t{\n\t\t\"neighborhood\":\"Fairchild
        Tropical Botanic Garden\",\n\t\t\"city\":\"Coral Gables\",\n\t\t\"state\":\"FL\",\n\t\t\"country\":\"US\",\n\t\t\"id\":\"KFLMIAMI68\",\n\t\t\"lat\":25.676458,\n\t\t\"lon\":-80.276024,\n\t\t\"distance_km\":6,\n\t\t\"distance_mi\":4\n\t\t},\n\t\t{\n\t\t\"neighborhood\":\"Gulliver
        Prep\",\n\t\t\"city\":\"Pinecrest\",\n\t\t\"state\":\"FL\",\n\t\t\"country\":\"US\",\n\t\t\"id\":\"KFPINECR2\",\n\t\t\"lat\":25.689056,\n\t\t\"lon\":-80.300217,\n\t\t\"distance_km\":7,\n\t\t\"distance_mi\":4\n\t\t},\n\t\t{\n\t\t\"neighborhood\":\"Village
        of Pinecrest\",\n\t\t\"city\":\"Village of Pinecrest / Miami\",\n\t\t\"state\":\"FL\",\n\t\t\"country\":\"US\",\n\t\t\"id\":\"KFLMIAMI43\",\n\t\t\"lat\":25.659081,\n\t\t\"lon\":-8[...]
