---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/<WUNDERGROUND_API_KEY>/geolookup/q/autoip.json?geo_ip=8.8.8.8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.127'
      Last-Modified:
      - Thu, 10 Apr 2014 13:44:49 GMT
      Nncoection:
      - close
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"geolookup\": 1\n  }\n\t}\n\t\t,\t\"location\": {\n\t\t\"type\":\"CITY\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"country_name\":\"USA\",\n\t\t\"state\":\"KS\",\n\t\t\"city\":\"Potwin\",\n\t\t\"tz_short\":\"CDT\",\n\t\t\"tz_long\":\"America/Chicago\",\n\t\t\"lat\":\"38.000000\",\n\t\t\"lon\":\"-97.000000\",\n\t\t\"zip\":\"67123\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"99999\",\n\t\t\"l\":\"/q/zmw:67123.1.99999\",\n\t\t\"requesturl\":\"US/KS/Potwin.html\",\n\t\t\"wuiurl\":\"http://www.wunderground.com/US/KS/Potwin.html\",\n\t\t\"nearby_weather_stations\":
        {\n\t\t\"airport\": {\n\t\t\"station\": [\n\t\t{ \"city\":\"Newton\", \"state\":\"KS\",
        \"country\":\"US\", \"icao\":\"KEWK\", \"lat\":\"38.05822754\", \"lon\":\"-97.27451324\"
        }\n\t\t,{ \"city\":\"Wichita Jabara\", \"state\":\"KS\", \"country\":\"US\",
        \"icao\":\"KAAO\", \"lat\":\"37.74758148\", \"lon\":\"-97.22110748\" }\n\t\t,{
        \"city\":\"McConnell AFB\", \"state\":\"KS\", \"country\":\"US\", \"icao\":\"KIAB\",
        \"lat\":\"37.62185287\", \"lon\":\"-97.26818848\" }\n\t\t,{ \"city\":\"Wichita\",
        \"state\":\"KS\", \"country\":\"US\", \"icao\":\"KICT\", \"lat\":\"37.64722061\",
        \"lon\":\"-97.42944336\" }\n\t\t]\n\t\t}\n\t\t,\n\t\t\"pws\": {\n\t\t\"station\":
        [\n\t\t{\n\t\t\"neighborhood\":\"CookFarm\",\n\t\t\"city\":\"Whitewater\",\n\t\t\"state\":\"KS\",\n\t\t\"country\":\"US\",\n\t\t\"id\":\"KKSWHITE2\",\n\t\t\"lat\":37.960407,\n\t\t\"lon\":-97.173210,\n\t\t\"distance_km\":15,\n\t\t\"distance_mi\":9\n\t\t},\n\t\t{\n\t\t\"neighborhood\":\"Towanda
        Township\",\n\t\t\"city\":\"Towanda\",\n\t\t\"state\":\"KS\",\n\t\t\"country\":\"US\",\n\t\t\"id\":\"KKSTOWAN2\",\n\t\t\"lat\":37.823391,\n\t\t\"lon\":-97.003571,\n\t\t\"distance_km\":19,\n\t\t\"distance_mi\":11\n\t\t},\n\t\t{\n\t\t\"neighborhood\":\"MesoWest
        KECHI KS US UPR\",\n\t\t\"city\":\"Wichita\",\n\t\t\"state\":\"KS\",\n\t\t\"country\":\"US\",\n\t\t\"id\":\"MUP834\",\n\t\t\"lat\":37.814739,\n\t\t\"lon\":-97.262199,\n\t\t\"d[...]
