---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/<WUNDERGROUND_API_KEY>/almanac/q/42.34659958,-71.04180145.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.097'
      Last-Modified:
      - Wed, 09 Apr 2014 22:39:14 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"almanac\": 1\n  }\n\t}\n\t\t,\n\t\"almanac\": {\n\t\t\"airport_code\":
        \"KBOS\",\n\t\t\"temp_high\": {\n\t\t\"normal\": {\n\t\t\"F\": \"53\",\n\t\t\"C\":
        \"12\"\n\t\t}\n\t\t,\n\t\t\"record\": {\n\t\t\"F\": \"85\",\n\t\t\"C\": \"29\"\n\t\t},\n\t\t\"recordyear\":
        \"1991\"\n\t\t},\n\t\t\"temp_low\": {\n\t\t\"normal\": {\n\t\t\"F\": \"39\",\n\t\t\"C\":
        \"4\"\n\t\t}\n\t\t,\n\t\t\"record\": {\n\t\t\"F\": \"24\",\n\t\t\"C\": \"-4\"\n\t\t},\n\t\t\"recordyear\":
        \"1888\"\n\t\t}\n\t}\n}\n"
  recorded_at: Wed, 09 Apr 2014 22:39:15 GMT
recorded_with: VCR 2.6.0
