---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/<WUNDERGROUND_API_KEY>/geolookup/q/34982.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.081'
      Last-Modified:
      - Wed, 09 Apr 2014 20:40:40 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"geolookup\": 1\n  }\n\t}\n\t\t,\t\"location\": {\n\t\t\"type\":\"CITY\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"country_name\":\"USA\",\n\t\t\"state\":\"FL\",\n\t\t\"city\":\"Fort
        Pierce\",\n\t\t\"tz_short\":\"EDT\",\n\t\t\"tz_long\":\"America/New_York\",\n\t\t\"lat\":\"27.39232254\",\n\t\t\"lon\":\"-80.33381653\",\n\t\t\"zip\":\"34982\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"99999\",\n\t\t\"l\":\"/q/zmw:34982.1.99999\",\n\t\t\"requesturl\":\"US/FL/Fort_Pierce.html\",\n\t\t\"wuiurl\":\"http://www.wunderground.com/US/FL/Fort_Pierce.html\",\n\t\t\"nearby_weather_stations\":
        {\n\t\t\"airport\": {\n\t\t\"station\": [\n\t\t{ \"city\":\"Ft Pierce\", \"state\":\"FL\",
        \"country\":\"US\", \"icao\":\"KFPR\", \"lat\":\"27.49806023\", \"lon\":\"-80.37667084\"
        }\n\t\t,{ \"city\":\"Stuart\", \"state\":\"FL\", \"country\":\"US\", \"icao\":\"KSUA\",
        \"lat\":\"27.18166924\", \"lon\":\"-80.22110748\" }\n\t\t,{ \"city\":\"Vero
        Beach\", \"state\":\"FL\", \"country\":\"US\", \"icao\":\"KVRB\", \"lat\":\"27.65555573\",
        \"lon\":\"-80.41794586\" }\n\t\t,{ \"city\":\"Okeechobee\", \"state\":\"FL\",
        \"country\":\"US\", \"icao\":\"KOBE\", \"lat\":\"27.26626778\", \"lon\":\"-80.84865570\"
        }\n\t\t]\n\t\t}\n\t\t,\n\t\t\"pws\": {\n\t\t\"station\": [\n\t\t{\n\t\t\"neighborhood\":\"White
        City - Citrus Ranchlands\",\n\t\t\"city\":\"Fort Pierce\",\n\t\t\"state\":\"FL\",\n\t\t\"country\":\"US\",\n\t\t\"id\":\"KFLWHITE2\",\n\t\t\"lat\":27.368023,\n\t\t\"lon\":-80.339287,\n\t\t\"distance_km\":2,\n\t\t\"distance_mi\":1\n\t\t},\n\t\t{\n\t\t\"neighborhood\":\"North
        Hutchinson Island\",\n\t\t\"city\":\"Fort Pierce\",\n\t\t\"state\":\"FL\",\n\t\t\"country\":\"US\",\n\t\t\"id\":\"KFLFORTP13\",\n\t\t\"lat\":27.461477,\n\t\t\"lon\":-80.297409,\n\t\t\"distance_km\":8,\n\t\t\"distance_mi\":5\n\t\t},\n\t\t{\n\t\t\"neighborhood\":\"Crosstown\",\n\t\t\"city\":\"Port
        St Lucie\",\n\t\t\"state\":\"FL\",\n\t\t\"country\":\"US\",\n\t\t\"id\":\"KFLPORTS57\",\n\t\t\"lat\":27.296181,\n\t\t\"lon\":-80.342155,\n\t[...]
