---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/<WUNDERGROUND_API_KEY>/geolookup/q/MA/Boston.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.091'
      Last-Modified:
      - Fri, 11 Apr 2014 15:04:13 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"geolookup\": 1\n  }\n\t}\n\t\t,\t\"location\": {\n\t\t\"type\":\"CITY\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"country_name\":\"USA\",\n\t\t\"state\":\"MA\",\n\t\t\"city\":\"Boston\",\n\t\t\"tz_short\":\"EDT\",\n\t\t\"tz_long\":\"America/New_York\",\n\t\t\"lat\":\"42.37046814\",\n\t\t\"lon\":\"-71.02747345\",\n\t\t\"zip\":\"02101\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"99999\",\n\t\t\"l\":\"/q/zmw:02101.1.99999\",\n\t\t\"requesturl\":\"US/MA/Boston.html\",\n\t\t\"wuiurl\":\"http://www.wunderground.com/US/MA/Boston.html\",\n\t\t\"nearby_weather_stations\":
        {\n\t\t\"airport\": {\n\t\t\"station\": [\n\t\t{ \"city\":\"Boston\", \"state\":\"MA\",
        \"country\":\"US\", \"icao\":\"KBOS\", \"lat\":\"42.36056900\", \"lon\":\"-71.00972748\"
        }\n\t\t,{ \"city\":\"East Milton\", \"state\":\"MA\", \"country\":\"US\",
        \"icao\":\"KMQE\", \"lat\":\"42.21207047\", \"lon\":\"-71.11416626\" }\n\t\t,{
        \"city\":\"Norwood\", \"state\":\"MA\", \"country\":\"US\", \"icao\":\"KOWD\",
        \"lat\":\"42.19123077\", \"lon\":\"-71.17326355\" }\n\t\t,{ \"city\":\"Bedford\",
        \"state\":\"MA\", \"country\":\"US\", \"icao\":\"KBED\", \"lat\":\"42.46995163\",
        \"lon\":\"-71.28903198\" }\n\t\t]\n\t\t}\n\t\t,\n\t\t\"pws\": {\n\t\t\"station\":
        [\n\t\t{\n\t\t\"neighborhood\":\"South Boston\",\n\t\t\"city\":\"Boston\",\n\t\t\"state\":\"MA\",\n\t\t\"country\":\"US\",\n\t\t\"id\":\"KMABOSTO35\",\n\t\t\"lat\":42.343105,\n\t\t\"lon\":-71.058197,\n\t\t\"distance_km\":3,\n\t\t\"distance_mi\":2\n\t\t},\n\t\t{\n\t\t\"neighborhood\":\"Prattville\",\n\t\t\"city\":\"Chelsea\",\n\t\t\"state\":\"MA\",\n\t\t\"country\":\"US\",\n\t\t\"id\":\"KMACHELS2\",\n\t\t\"lat\":42.407410,\n\t\t\"lon\":-71.035759,\n\t\t\"distance_km\":4,\n\t\t\"distance_mi\":2\n\t\t},\n\t\t{\n\t\t\"neighborhood\":\"Winthrop
        Beach\",\n\t\t\"city\":\"Winthrop\",\n\t\t\"state\":\"MA\",\n\t\t\"country\":\"US\",\n\t\t\"id\":\"KMAWINTH1\",\n\t\t\"lat\":42.377106,\n\t\t\"lon\":-70.973625,\n\t\t\"distance_km\":4,\n\t\t\[...]
- request:
    method: get
    uri: http://api.wunderground.com/api/<WUNDERGROUND_API_KEY>/history_20140130/q/42.37046814,-71.02747345.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.640'
      Last-Modified:
      - Fri, 11 Apr 2014 15:04:14 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"history\": 1\n  }\n\t}\n\t\t,\n\t\"history\": {\n\t\t\"date\":
        {\n\t\t\"pretty\": \"January 30, 2014\",\n\t\t\"year\": \"2014\",\n\t\t\"mon\":
        \"01\",\n\t\t\"mday\": \"30\",\n\t\t\"hour\": \"12\",\n\t\t\"min\": \"00\",\n\t\t\"tzname\":
        \"America/New_York\"\n\t\t},\n\t\t\"utcdate\": {\n\t\t\"pretty\": \"January
        30, 2014\",\n\t\t\"year\": \"2014\",\n\t\t\"mon\": \"01\",\n\t\t\"mday\":
        \"30\",\n\t\t\"hour\": \"17\",\n\t\t\"min\": \"00\",\n\t\t\"tzname\": \"UTC\"\n\t\t},\n\t\t\"observations\":
        [\n\t\t{\n\t\t\"date\": {\n\t\t\"pretty\": \"12:54 AM EST on January 30, 2014\",\n\t\t\"year\":
        \"2014\",\n\t\t\"mon\": \"01\",\n\t\t\"mday\": \"30\",\n\t\t\"hour\": \"00\",\n\t\t\"min\":
        \"54\",\n\t\t\"tzname\": \"America/New_York\"\n\t\t},\n\t\t\"utcdate\": {\n\t\t\"pretty\":
        \"5:54 AM GMT on January 30, 2014\",\n\t\t\"year\": \"2014\",\n\t\t\"mon\":
        \"01\",\n\t\t\"mday\": \"30\",\n\t\t\"hour\": \"05\",\n\t\t\"min\": \"54\",\n\t\t\"tzname\":
        \"UTC\"\n\t\t},\n\t\t\"tempm\":\"-7.2\", \"tempi\":\"19.0\",\"dewptm\":\"-21.1\",
        \"dewpti\":\"-6.0\",\"hum\":\"33\",\"wspdm\":\"16.7\", \"wspdi\":\"10.4\",\"wgustm\":\"-9999.0\",
        \"wgusti\":\"-9999.0\",\"wdird\":\"280\",\"wdire\":\"West\",\"vism\":\"16.1\",
        \"visi\":\"10.0\",\"pressurem\":\"1024.0\", \"pressurei\":\"30.24\",\"windchillm\":\"-13.6\",
        \"windchilli\":\"7.5\",\"heatindexm\":\"-9999\", \"heatindexi\":\"-9999\",\"precipm\":\"-9999.00\",
        \"precipi\":\"-9999.00\",\"conds\":\"Clear\",\"icon\":\"clear\",\"fog\":\"0\",\"rain\":\"0\",\"snow\":\"0\",\"hail\":\"0\",\"thunder\":\"0\",\"tornado\":\"0\",\"metar\":\"METAR
        KBOS 300554Z 28009KT 10SM CLR M07/M21 A3024 RMK AO2 SLP240 T10721211 11044
        21072 51022\" },\n\t\t{\n\t\t\"date\": {\n\t\t\"pretty\": \"1:54 AM EST on
        January 30, 2014\",\n\t\t\"year\": \"2014\",\n\t\t\"mon\": \"01\",\n\t\t\"mday\":
        \"30\",\n\t\t\"hour\": \"01\",\n\t\t\"min\": \"54\",\n\t\t\"tzname\": \"America/New_York\"\n\t\t},\n\t\t\"utcdate\":
        {\n\t\t\"pretty\": \"6:54 AM GMT on January 30, 2014\",\n\t\t\"year\": \"2014\",\n\t\t\"mon\":
        [...]
