---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/<WUNDERGROUND_API_KEY>/geolookup/q/CA/San_Francisco.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.131'
      Last-Modified:
      - Thu, 10 Apr 2014 16:53:18 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"geolookup\": 1\n  }\n\t}\n\t\t,\t\"location\": {\n\t\t\"type\":\"CITY\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"country_name\":\"USA\",\n\t\t\"state\":\"CA\",\n\t\t\"city\":\"San
        Francisco\",\n\t\t\"tz_short\":\"PDT\",\n\t\t\"tz_long\":\"America/Los_Angeles\",\n\t\t\"lat\":\"37.77500916\",\n\t\t\"lon\":\"-122.41825867\",\n\t\t\"zip\":\"94101\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"99999\",\n\t\t\"l\":\"/q/zmw:94101.1.99999\",\n\t\t\"requesturl\":\"US/CA/San_Francisco.html\",\n\t\t\"wuiurl\":\"http://www.wunderground.com/US/CA/San_Francisco.html\",\n\t\t\"nearby_weather_stations\":
        {\n\t\t\"airport\": {\n\t\t\"station\": [\n\t\t{ \"city\":\"San Francisco\",
        \"state\":\"CA\", \"country\":\"US\", \"icao\":\"KSFO\", \"lat\":\"37.61960983\",
        \"lon\":\"-122.36557770\" }\n\t\t,{ \"city\":\"Oakland\", \"state\":\"CA\",
        \"country\":\"US\", \"icao\":\"KOAK\", \"lat\":\"37.71780014\", \"lon\":\"-122.23294067\"
        }\n\t\t,{ \"city\":\"Hayward\", \"state\":\"CA\", \"country\":\"US\", \"icao\":\"KHWD\",
        \"lat\":\"37.65891647\", \"lon\":\"-122.12174988\" }\n\t\t,{ \"city\":\"Half
        Moon Bay\", \"state\":\"CA\", \"country\":\"US\", \"icao\":\"KHAF\", \"lat\":\"37.51361084\",
        \"lon\":\"-122.49958801\" }\n\t\t]\n\t\t}\n\t\t,\n\t\t\"pws\": {\n\t\t\"station\":
        [\n\t\t{\n\t\t\"neighborhood\":\"SOMA - Near Van Ness\",\n\t\t\"city\":\"San
        Francisco\",\n\t\t\"state\":\"CA\",\n\t\t\"country\":\"US\",\n\t\t\"id\":\"KCASANFR58\",\n\t\t\"lat\":37.773285,\n\t\t\"lon\":-122.417725,\n\t\t\"distance_km\":0,\n\t\t\"distance_mi\":0\n\t\t},\n\t\t{\n\t\t\"neighborhood\":\"North
        Mission (Valencia\",\n\t\t\"city\":\"San Francisco\",\n\t\t\"state\":\"CA\",\n\t\t\"country\":\"US\",\n\t\t\"id\":\"KCASANFR49\",\n\t\t\"lat\":37.770599,\n\t\t\"lon\":-122.423500,\n\t\t\"distance_km\":0,\n\t\t\"distance_mi\":0\n\t\t},\n\t\t{\n\t\t\"neighborhood\":\"SOMA\",\n\t\t\"city\":\"San
        Francisco\",\n\t\t\"state\":\"CA\",\n\t\t\"country\":\"US\",\n\t\t\"id\":\"KCASANFR131\",\n\t\t\"lat\":37.778488,\n\t\t\"lon\":-122.408005,\n\t[...]
- request:
    method: get
    uri: http://api.wunderground.com/api/<WUNDERGROUND_API_KEY>/astronomy/q/37.77500916,-122.41825867.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.061'
      Last-Modified:
      - Thu, 10 Apr 2014 16:53:18 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"astronomy\": 1\n  }\n\t}\n\t\t,\t\"moon_phase\": {\n\t\t\"percentIlluminated\":\"80\",\n\t\t\"ageOfMoon\":\"10\",\n\t\t\"phaseofMoon\":\"Waxing
        Gibbous\",\n\t\t\"hemisphere\":\"North\",\n\t\t\"current_time\": {\n\t\t\"hour\":\"9\",\n\t\t\"minute\":\"53\"\n\t\t},\n\t\t\"sunrise\":
        {\n\t\t\"hour\":\"6\",\n\t\t\"minute\":\"41\"\n\t\t},\n\t\t\"sunset\": {\n\t\t\"hour\":\"19\",\n\t\t\"minute\":\"40\"\n\t\t}\n\t},\n\t\"sun_phase\":
        {\n\t\t\"sunrise\": {\n\t\t\"hour\":\"6\",\n\t\t\"minute\":\"41\"\n\t\t},\n\t\t\"sunset\":
        {\n\t\t\"hour\":\"19\",\n\t\t\"minute\":\"40\"\n\t\t}\n\t}\n}\n"
  recorded_at: Thu, 10 Apr 2014 16:53:19 GMT
recorded_with: VCR 2.6.0
